.button {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border: none;
  background-color: $cyan-800;
  border-radius: $radius-xxsmall;
  font-family: $font-family-base;
  font-size: $fs-small;
  font-weight: $font-bold;
  color: $white;

}