// --- Font

// Family
$font-family-base: 'Space Mono', 'Arial', sans-serif;

// Weight
$font-normal: 400;
$font-bold: 700;

// Size
$fs-xsmall: 0.6rem;
$fs-small: 0.8rem;
$fs-base: 1rem;
$fs-lg: 1.5rem;


// --- Colors

// Base
$white: hsl(0, 0%, 100%);
$transparent: transparent;

// Cyan
$cyan-300: hsl(189, 41%, 97%);
$cyan-400: hsl(185, 41%, 84%);
$cyan-500: hsl(172, 67%, 45%);
$cyan-600: hsl(184, 14%, 56%);
$cyan-700: hsl(186, 14%, 43%);
$cyan-800: hsl(183, 100%, 15%);

// Red
$red-500: hsl(0, 95%, 37%);

// Theme
$primary: $cyan-500;


// --- Border

// Border style
$border-base: 0.12rem solid;

// Border radius
$radius-xxsmall: 0.2rem;
$radius-xsmall: 0.4rem;
$radius-small: 0.8rem;
$radius-default: 1rem;


// --- Transitions
$transition-base-leave: 0.3s all ease-out;
$transition-base-enter: 0.3s all ease-in;
